In [1]:
# Synthetic Minority Oversampling Technique

In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
df.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
df.buying =le.fit_transform(df.buying)
df.maint = le.fit_transform(df.maint)
df.lug_boot = le.fit_transform(df.lug_boot)
df.safety=le.fit_transform(df.safety)

In [8]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [10]:
X= df.iloc[:,:-1]
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [11]:
y = df.outcome
y.head()

0    unacc
1    unacc
2    unacc
3    unacc
4    unacc
Name: outcome, dtype: object

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(X,y,test_size =0.3,random_state =47)

In [13]:
y.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [26]:
x_train.shape

(1209, 6)

In [27]:
x_test.shape

(519, 6)

In [28]:
y_train.value_counts()

unacc    848
acc      264
good      50
vgood     47
Name: outcome, dtype: int64

In [16]:
from sklearn.neighbors import KNeighborsClassifier
model =KNeighborsClassifier()

In [17]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [18]:
pred= model.predict(x_test)

In [34]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [35]:
accuracy_score(y_test,pred)

0.8959537572254336

In [36]:
pd.crosstab(y_test,pred)

col_0    acc  good  unacc  vgood
outcome
acc      101     1     18      0
good      12     5      2      0
unacc     12     0    350      0
vgood      9     0      0      9

In [1]:
5/19

0.2631578947368421

In [37]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         acc       0.75      0.84      0.80       120
        good       0.83      0.26      0.40        19
       unacc       0.95      0.97      0.96       362
       vgood       1.00      0.50      0.67        18

    accuracy                           0.90       519
   macro avg       0.88      0.64      0.70       519
weighted avg       0.90      0.90      0.89       519

# Balancing Technique

In [22]:
from imblearn.over_sampling import SMOTE

In [23]:
smote =SMOTE()

In [24]:
x_train_smote,y_train_smote = smote.fit_resample(x_train,y_train)

In [25]:
y_train_smote.value_counts()

unacc    848
acc      848
good     848
vgood    848
Name: outcome, dtype: int64

In [30]:
# model building
model1=KNeighborsClassifier()
model1.fit(x_train_smote,y_train_smote)

KNeighborsClassifier()

In [31]:
y_predict = model1.predict(x_test)

In [32]:
accuracy_score(y_test,y_predict)

0.7745664739884393

In [33]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       86    23      4      7
good       1    17      0      1
unacc     61    10    289      2
vgood      7     1      0     10

In [2]:
17/19

0.8947368421052632

In [38]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

         acc       0.55      0.72      0.63       120
        good       0.33      0.89      0.49        19
       unacc       0.99      0.80      0.88       362
       vgood       0.50      0.56      0.53        18

    accuracy                           0.77       519
   macro avg       0.59      0.74      0.63       519
weighted avg       0.85      0.77      0.80       519