In [1]:
# used to classify the datapoints
# naive baye's uses, Baye's theorem to classify the data points

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.shape

(400, 5)

In [5]:
X=df.iloc[:,1:-1]
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [6]:
y = df.Purchased
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

le= LabelEncoder()

In [8]:
X.Gender=le.fit_transform(X.Gender)

In [9]:
X.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

In [10]:
from sklearn.preprocessing import MinMaxScaler
scale =MinMaxScaler()

In [11]:
x_scale = pd.DataFrame(scale.fit_transform(X),columns = X.columns)

In [12]:
x_scale.head()

   Gender       Age  EstimatedSalary
0     1.0  0.023810         0.029630
1     1.0  0.404762         0.037037
2     0.0  0.190476         0.207407
3     0.0  0.214286         0.311111
4     1.0  0.023810         0.451852

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scale,y,test_size= 0.3,random_state =0)

In [52]:
x_train.shape

(280, 3)

In [53]:
x_test.shape

(120, 3)

In [54]:
# model building
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [55]:
model.fit(x_train,y_train)

GaussianNB()

In [56]:
pred_test = model.predict(x_test)

In [57]:
pred_train = model.predict(x_train)

In [58]:
# model evaluation
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [59]:
print('Training accuracy: ', accuracy_score(y_train,pred_train))
print('Testing accuracy: ', accuracy_score(y_test,pred_test))

Training accuracy:  0.8892857142857142
Testing accuracy:  0.9083333333333333

In [60]:
pd.crosstab(y_test,pred_test)

col_0       0   1
Purchased
0          76   3
1           8  33

In [61]:
print(classification_report(y_test,pred_test))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93        79
           1       0.92      0.80      0.86        41

    accuracy                           0.91       120
   macro avg       0.91      0.88      0.89       120
weighted avg       0.91      0.91      0.91       120