In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iris.csv')
df.head()

,sepallength(cm),sepalwidth(cm),petallength(cm),petalwidth(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [3]:
X=df.iloc[:,:-1]
X.head()

   sepallength(cm)  sepalwidth(cm)  petallength(cm)  petalwidth(cm)
0              5.1             3.5              1.4             0.2
1              4.9             3.0              1.4             0.2
2              4.7             3.2              1.3             0.2
3              4.6             3.1              1.5             0.2
4              5.0             3.6              1.4             0.2

In [4]:
y = df['class']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=50)

In [6]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [7]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [8]:
from sklearn.metrics import accuracy_score

In [10]:
y_predict = model.predict(x_test)

In [11]:
accuracy_score(y_test,y_predict)

0.9666666666666667

In [12]:
pd.crosstab(y_test,y_predict)

col_0            Iris-setosa  Iris-versicolor  Iris-virginica
class
Iris-setosa                9                0               0
Iris-versicolor            0               11               1
Iris-virginica             0                0               9

In [13]:
import joblib
joblib.dump(model,'iris.pkl')  # saving the model

['iris.pkl']